body{
    overflow: hidden;
}
.bg-nude{
    color: #1a1818;
    background-color: #ece7e1;
}
.bg-nude-work{
    overflow: visible;
    color: #ece7e1;
    background-color: #1a1818;
}


.container{
    position: relative;
}
.nav-left{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 6%;
}
.nav-left-item {
    flex: 0 auto;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 15px;
    transform: rotate(-90deg);
}
.nav-left-link {
    color: #1a1818;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
}
.nav-left-link-work{
    color: #ece7e1;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 500;
    text-decoration: none;
}
.nav-left-link-work:hover{
    text-decoration: line-through;
}
.nav-left-line{
    width: 1px;
    height: 60vh;
    background-color: #000;
    
}
.nav-left-line-work{
    width: 1px;
    height: 60vh;
    background-color: #ece7e1;
}
.nav-left-copyright{
    letter-spacing: 5px;
    font-size: 10px;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    padding-right: 50px;
    transform: rotate(-90deg);
}

.info-h1{
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ece7e1;
    z-index: -1;
}

.info-p{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 13pt;
    color: #ece7e1;
    z-index: -1;
    animation: InfoTextAmin 1.4s ease 0s 1 normal forwards;
}
@keyframes InfoTextAmin {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.content{
    padding-top: 5%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    display: flex;
    z-index: -10;
}

.left-section{
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    display: flex;
    position: relative;
    right: 5%;
    width: 30%;
    height: 100vh;
}
.window{
    background-color: #000;
    padding: 10%;
    border-radius: 5%;

}
.right-section{
    float: right;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 80%;
    height: 70%;
    animation: ContentAnim 1s ease 0s 1 normal forwards;
}
@keyframes ContentAnim {
	0% {
		opacity: 0;
        filter: blur(10px);
	}
    80%{
        opacity: 0.8;
    }
	100% {
		opacity: 1;
        filter: blur(0px);
	}
}
.nav{
    text-align: left;
}
.nav-link{
    color: black;
    font-family: 'Kelly Slab', cursive;
    font-size: 10vw;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #000;
    transition: color .8s ease-in-out, box-shadow .8s ease-in-out;
}

.nav-link:hover {
    box-shadow: inset 1200px 0 0 0 #000;
    color: #ece7e1;
  }
  .nav-link-work{
    color: #ece7e1;
    font-family: 'Kelly Slab', cursive;
    font-size: 11vw;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #ece7e1;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}



.nav-link-work:hover {
    box-shadow: inset 1000px 0 0 0 #ece7e1;
    color: #333;
  }


  @media (max-width: 1200px){

  }
  @media (max-width: 1000px){
    body{
        overflow:visible;
    }
    .content{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }
    .nav{
        text-align: center;
    }
    .left-section{
        width: 80%;
        height: auto;
    }
    .right-section{
        padding-top: 10vh;
        height: auto;
    }
    .nav-link{
        font-size: 16vw;
    }
  }
  @media (max-width: 768px){

  }
  @media (max-width: 480px){
    
  }

.block-slide-down{
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #1a1818;
    z-index: 100;
    animation: myAnimBottom 1s ease-out 0s 1 normal forwards;
}
@keyframes myAnimBottom {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
    99%{
        opacity: 1;
    }
	100% {
		opacity: 0;
		transform: translateY(100vh);
        display: none;
        width: 100vw;
        height: 0vh;
	}
}

.block-slide-top{
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #ece7e1;
    z-index: 100;
    animation: myAnim 1s ease-out 0s 1 normal forwards;
}
@keyframes myAnim {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
    99%{
        opacity: 1;
    }
	100% {
		opacity: 0;
		transform: translateY(100vh);
        display: none;
        width: 100vw;
        height: 0vh;
	}
}